body {
  margin: 0;
  background-color: #111B66;
}

.top {
  font-family: 'Abril Fatface', cursive;
  font-family: 'Signika', sans-serif;
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100vw;
}

.profile-img {
  object-fit: cover;
}

.name {
  position: absolute;
}

.name h1 {
  color: #fefcfb;
  text-align: center;
  margin: 10px 0;
}

.name h2{
  margin-top: 70px;
  color: #fefcfb;
}

.name a {
  text-decoration: none;
}

.name h2:hover{
  transform: translate(0px,10px);
  cursor: pointer;
}

.name i{
  padding-left: 5px;
}

.secondtext {
  border-top: 1px solid white;
  padding-top: 5px;
}

/* Navbar style */

.nav-bar {
  background-color: #061849;
  display: flex;
  justify-content: flex-end;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Signika', sans-serif;
  position: sticky;
  top: 0;
  z-index: 999;
}


.nav-bar i {
  color: white;
  font-size: 30px;
}

.nav-bar a {
   text-decoration: none;
}

a .hover{
  display: none;

}

a:hover .normal{
  display: none;
}

a:hover .hover{
  display: inline;
  color: white;
}

/* Projects */

#project-container {
  background-color: #30343f;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Signika', sans-serif;
}

#project-container h1 {
  color: white;
  text-align: center;
}

.project {
  text-align: center;
  position: relative;
}

.projects {
  display: grid;
}

.project img {
  width: 100%;
  height: 35vh;

}

.project-info {
  color: #fff;
  opacity: 0;
  text-align: center;

}

.project-info p {
  background-color: #f7b801;
  display: inline-block;
  padding: 10px;
  border-radius: 3px;
  width: 200;
  position: absolute;
  right: 0;
  left: 0;
  top: 150px;
  margin: auto;
}

.project span {
  color: #fff;
  background-color: #bcb8b1;
  display: inline-block;
  padding: 5px;
  margin: 10px 5px;
  border-radius: 5px;
}

.project img:hover {
  opacity: 0.2;
  transition: all 0.6s ease;
}

.project img:hover + .project-info{
  display: block;
  opacity: 1;
}

.project-info:hover + .project img{
    opacity: 0.2;
}

/* project btn　*/

.btn {
  text-align: center;
}
.site-btn {
  margin-top: 10px;
  margin-right: 5px;
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #006992;
  font-size: 16px;
  color: #fff;
  background-color: #006992;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.site-btn:hover {
  background-color: #fff;
  border-color: #006992;
  color: #006992;
}

.code-btn {
  margin-top: 10px;
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #006992;
  font-size: 16px;
  color: #006992;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.code-btn:hover {
  background-color: #006992;
  border-color: #006992;
  color: #FFF;
}
/* Contact form */

.contact-msg {
  height: 80vh;
  font-family: 'Baloo Tammudu 2', cursive;
}

#contact-form {
  margin: 0px auto;
  margin-bottom: 50px !important;
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

.form-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mail-img {
  margin-left: 15px;
  width: 50px;
  height: 50px;
}

.form-input {
  margin: 10px 0;
  padding: 10px;
  width: 80%;
  font-family: 'Baloo Tammudu 2', cursive;
}

.form h2 {
  margin: 0;
  text-align: center;
}

#contact-btn {
  width: 60%;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
  font-family: 'Baloo Tammudu 2', cursive;
  cursor: pointer;
}

#contact-btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border: none;
}

.contact-msg p {
  text-align: center;
  color: #fff;
}


.contact-msg a {
  text-decoration: none;
}

/* LG screen */

@media screen and (min-width:1024px){

 .name {
  display: flex;
  top: 35%;
  left: 52%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin: 100px 0 0 0 ;
  padding:0;
  }

  .name h2{
    margin-top: 70px;
    color: white;
    margin-right: 30px;
  }

  .name img {
    padding-right: 15px;
    width: 22%;
    height: 22%;
  }

  #project-container h1 {
    padding-top: 80px;
  }

  .projects {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .projects {
    grid-gap: 30px;
    padding: 30px;
  }

  .nav-bar i {
    margin-right: 30px;
    padding: 20px;
    font-size: 30px;
  }

  a .hover{
    margin-right: 30px;
    padding: 30px;
  }

  .contact-msg {
    margin-top: 200px;
  }

  .contact {
    margin-right: 30px;
  }

  #contact-form {
    width: 55vw;
    padding: 20px 25px;
  }

  .form-input {
    padding: 15px;
    margin-bottom: 30px;
  }

}

/* MD screen */

@media screen and (min-width:768px) and (max-width:1023px){
   .name {
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
  }

  .name img {
    position: absolute;
    top: -50%;
    left: 35%;
    width: 30%;
  }

  .name h1 {
    font-size: 30px;
  }

  .name h2{
    margin-top: 70px;
    text-align: center;
  }

  #project-container h1 {
    padding-top: 80px;
  }

  .projects {
    grid-template-columns: 1fr 1fr;
  }

  .projects {
    grid-gap: 50px;
    padding: 50px;
  }

  .nav-bar i {
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    justify-content: flex-end;
  }

  a .hover{
    margin-right: 10px;
    margin-top: 0;
    padding: 20px;
  }

  .contact-msg {
    margin-top: 100px;
  }

  .contact {
    margin-right: 30px;
  }

  #contact-form {
    width: 60vw;
    padding: 20px 25px;
  }
}

/* SM screen */

@media screen and (max-width:767px){

  .top {
    height: 100vh;
  }

  .name {
    width: 100%;
    top: 15%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .name img {
      width: 30%;
      display: flex;
      margin: auto;
  }

  .name h1 {
    font-size: 20px;
  }

  .name h2{
    margin-top: 70px;
    text-align: center;
  }

  #project-container h1 {
    padding-top: 50px;
  }

  .projects {
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 80px;
  }

  .project {
    margin-bottom: 40px;
  }

  .nav-bar {
    justify-content: space-evenly !important;
    padding-bottom: 10px;
  }

  .nav-bar i {
    font-size: 20px;
    margin: 16px 0;
  }

  #contact-form {
    margin-top: 100px;
    width: 90%;
    padding: 10px 0;
  }
}

