body {
  margin: 0;
}

#background-img {
  width: 100%;
}

.top {
  position: relative;
}

.name {
  position: absolute;
  display: flex;
  top: 50%;
  left: 55%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.name h1 {
  color: white;
  text-align: center;
  margin: 5px 0;
}

.name p {
  color: white;
  margin: 0;
}

.name img {
  padding-left: 15px;
  width: 22%;
  height: 22%;
}
