body {
  margin: 0;
  background-color: #0E1C63;
}

#background-img {
  width: 100%;
}

.top {
  position: relative;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Signika', sans-serif;
}

.name {
  position: absolute;
}


.name h1 {
  color: white;
  text-align: center;
  margin: 10px 0;
}

.secondtext {
  border-top: 1px solid white;
  padding-top: 5px;
}

/* Navbar style */

.nav-bar {
  background-color: #061849;
  display: flex;
  justify-content: flex-end;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Signika', sans-serif;
}


.nav-bar i {
  color: white;
  font-size: 30px;
}

.nav-bar a {
   text-decoration: none;
}


/* 通常時はホバー時の文字を非表示にする */
a .hover{
  display: none;

}

/* ホバー時は通常時の文字を非表示にする */
a:hover .normal{
  display: none;
}

/* ホバー時に、ホバー時の文字を表示する */
a:hover .hover{
  display: inline;
  color: white;
}

/* Contact form */

#contact-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 55vw;
  margin: 0px auto;
  padding: 20px 25px;
  border-radius: 5px;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  font-family: 'Baloo Tammudu 2', cursive;
}

#mail-img {
  width: 150px;
  height: 150px;
}

.form-input {
  padding: 10px;
  width:100%;
}

.form h2 {
  margin: 0;
  text-align: center;
}

#contact-btn {
  width: 100%;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
  font-family: 'Baloo Tammudu 2', cursive;
}

#contact-btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border: none;
}


/* LG screen */

@media screen and (min-width:1024px){

 .name {
  display: flex;
  top: 35%;
  left: 55%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

 .name img {
  padding-right: 15px;
  width: 22%;
  height: 22%;
  }

  .nav-bar i {
    margin-right: 30px;
    padding: 20px;
    font-size: 30px;
  }

  a .hover{
    margin-right: 30px;
    padding: 30px;
  }

  .contact {
    margin-right: 30px;
  }

}

/* MD screen */

@media screen and (min-width:768px) and (max-width:1023px){
   .name {
    top: 50%;
    left: 48%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
  }

  .name img {
    position: absolute;
    top: -65%;
    left: 35%;
    width: 30%;
  }

  .name h1 {
    font-size: 30px;
  }

  .nav-bar i {
    margin-right: 10px;
    padding: 20px;
    font-size: 20px;
    justify-content: flex-end;
  }

  a .hover{
    margin-right: 10px;
    margin-top: 0;
    padding: 20px;
  }

  .contact {
    margin-right: 30px;
  }
}

/* SM screen */

@media screen and (max-width:767px){

  .name {
    width: 100%;
    top: 45%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .name img {
      width: 30%;
      display: flex;
      margin: auto;
  }

  .name h1 {
    font-size: 20px;
  }

  .nav-bar {
    justify-content: space-evenly !important;
  }

  .nav-bar i {
    font-size: 20px;
    margin-top: 15px;
  }
}

